:root {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    margin: 0;
}

div {
    font-size: 18px;
    white-space: pre-line;
}

input, textarea {
    font-size: 16px;
    padding: 0.3em;
    border-radius: 0.5em;
    border: 1px solid black;
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);
}

label:has(input:user-invalid) {
    input {
        border-color: red;
    }

    span {
        color: red;
        display: block;
    }
}

.flex {
    display: flex;

    &.column {
        flex-direction: column;
    }

    &.flex-wrap {
        flex-wrap: wrap;
    }

    &.justify-content-center {
        justify-content: center;
    }
    
    &.justify-content-space-between {
        justify-content: space-between;
    }
    
    &.align-items-center {
        align-items: center;
    }
}

.hide {
    display: none !important;
}

.title-1 {
    font-size: 30px;
    font-weight: bolder;
}

.title-2 {
    font-size: 24px;
    font-weight: bolder;
}

.title-3 {
    font-size: 20px;
    font-weight: bold;
}

.title-4 {
    font-size: 18px;
    font-weight: bold;
}

.title-5 {
    font-size: 16px;
    font-weight: bold;
}

.title-6 {
    font-size: 14px;
}

.box-shadow {
    box-shadow: 0 1px 30px rgba(0, 0, 0, 0.2);
}
